/* body{
  background-color: rgb(107, 101, 101);
  max-width: 1200px;
  height:max-content;
  margin: auto;
} */
:root {
    --primary-text-color: #313131;
    --color-danger: rgb(159, 63, 63);
  }
  
  * {
    margin: 0;
  }